.text-container {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.picture-container {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
